<div class="h-screen flex justify-center items-center">
    <div class="p-4 bg-fuchsia-200 text-2xl rounded-md">
      <form class="space-y-4 flex flex-col" [formGroup]="singUpForm" (ngSubmit)="onSubmit()">
        <h1 class="text-gray-600 font-semibold mx-auto">Registration</h1>
        <div class="space-y-8">
          <div class="name w-full flex space-x-4">
            <div class="firstName">
              <input type="text" class="p-1 pl-4" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'error': singUpForm.get('firstName')?.invalid && (singUpForm.get('firstName')?.dirty || singUpForm.get('firstName')?.touched) }">
              <div class="error-message" *ngIf="singUpForm.get('firstName')?.invalid && (singUpForm.get('firstName')?.dirty || singUpForm.get('firstName')?.touched)">
                <span *ngIf="singUpForm.get('firstName')?.errors?.['required']">First Name is required.</span>
              </div>
            </div>
            <div class="lastName">
              <input type="text" class="p-1 pl-4" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'error': singUpForm.get('lastName')?.invalid && (singUpForm.get('lastName')?.dirty || singUpForm.get('lastName')?.touched) }">
              <div class="error-message" *ngIf="singUpForm.get('lastName')?.invalid && (singUpForm.get('lastName')?.dirty || singUpForm.get('lastName')?.touched)">
                <span *ngIf="singUpForm.get('lastName')?.errors?.['required']">Last Name is required.</span>
              </div>
            </div>
          </div>
          <div class="email">
            <input type="text" class="p-1 pl-4 w-full" formControlName="email" id="email" placeholder="Email" [ngClass]="{ 'error': singUpForm.get('email')?.invalid && (singUpForm.get('email')?.dirty || singUpForm.get('email')?.touched) }">
            <div class="error-message" *ngIf="singUpForm.get('email')?.invalid && (singUpForm.get('email')?.dirty || singUpForm.get('email')?.touched)">
              <span *ngIf="singUpForm.get('email')?.errors?.['required']">Email is required.</span>
              <span *ngIf="singUpForm.get('email')?.errors?.['email']">Invalid email format.</span>
            </div>
          </div>
          <div class="email">
            <input type="password" class="p-1 pl-4 w-full" formControlName="password" id="password" placeholder="Password" [ngClass]="{ 'error': singUpForm.get('password')?.invalid && (singUpForm.get('password')?.dirty || singUpForm.get('password')?.touched) }">
            <div class="error-message" *ngIf="singUpForm.get('password')?.invalid && (singUpForm.get('password')?.dirty || singUpForm.get('password')?.touched)">
              <span *ngIf="singUpForm.get('password')?.errors?.['required']">Password is required.</span>
              <span *ngIf="singUpForm.get('password')?.errors?.['pattern']">Invalid password format.</span>
              <span *ngIf="singUpForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long.</span>
              <span *ngIf="singUpForm.get('password')?.errors?.['maxlength']">Password cannot exceed 18 characters.</span>
            </div>
          </div>
          <div class="email">
            <input type="password" class="p-1 pl-4 w-full" formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm Password" [ngClass]="{ 'error': singUpForm.get('confirmPassword')?.invalid && (singUpForm.get('confirmPassword')?.dirty || singUpForm.get('confirmPassword')?.touched) }">
            <div class="error-message" *ngIf="singUpForm.get('confirmPassword')?.invalid && (singUpForm.get('confirmPassword')?.dirty || singUpForm.get('confirmPassword')?.touched)">
              <span *ngIf="singUpForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</span>
              <span *ngIf="singUpForm.hasError('passwordMismatch')">Passwords do not match.</span>
            </div>
          </div>
          <div>
            <input type="checkbox" class="w-4 h-4 mr-2" formControlName="termsIsAccept" name="tas" id="tas">
            <label class="text-xl" for="tas">I accept the Terms of Use & Privacy Policy</label>
            <div class="error-message" *ngIf="singUpForm.get('termsIsAccept')?.invalid && (singUpForm.get('termsIsAccept')?.dirty || singUpForm.get('termsIsAccept')?.touched)">
              <span>Terms of Use & Privacy Policy must be accepted.</span>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" [disabled]="singUpForm.invalid" class="ring-2 ring-lime-200 py-2 px-4 font-semibold bg-slate-600 rounded-lg shadow-lg text-lime-300">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  